# üìò Objective: `collections.namedtuple()` in Python

---

## üí° Concept

`namedtuple()` is a factory function for creating **tuple subclasses with named fields**.

They are:

- Easy to create
- Lightweight object types
- Make code more readable than regular tuples

---

### ‚úÖ Code Example 01

```python
from collections import namedtuple

Point = namedtuple('Point', 'x y')
pt1 = Point(1, 2)
pt2 = Point(3, 4)
dot_product = (pt1.x * pt2.x) + (pt1.y * pt2.y)
print(dot_product)  # Output: 11
```

---

### ‚úÖ Code Example 02

```python
from collections import namedtuple

Car = namedtuple('Car', 'Price Mileage Colour Class')
xyz = Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
print(xyz)           # Output: Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
print(xyz.Class)     # Output: Y
```

---

## üéØ Task

Dr. John Wesley has a spreadsheet with student data: `ID`, `MARKS`, `NAME`, and `CLASS`.

Your task is to **compute the average marks** from the spreadsheet.

### üîç Notes

- The **column order is not fixed**. You must read the column headers to find the index of the `MARKS` column.
- Use `namedtuple` to simplify field access.

---

## üì• Input Format

1. First line: Integer `N` ‚Äì number of students.
2. Second line: Column headers (space-separated): ID, MARKS, CLASS, NAME (any order).
3. Next `N` lines: Space-separated student data under the corresponding column names.

---

## üì§ Output Format

- Print the **average marks** rounded to **2 decimal places**.

---

## üß™ Sample Input

### TESTCASE 01

```
5
ID         MARKS      NAME       CLASS     
1          97         Raymond    7         
2          50         Steven     4         
3          91         Adrian     9         
4          72         Stewart    5         
5          80         Peter      6   
```

### TESTCASE 02

```
5
MARKS      CLASS      NAME       ID        
92         2          Calum      1         
82         5          Scott      2         
94         2          Jason      3         
55         8          Glenn      4         
82         2          Fergus     5
```

---

## ‚úÖ Sample Output

### TESTCASE 01

```
78.00
```

### TESTCASE 02

```
81.00
```

---

## üí° Explanation

In TESTCASE 01:

```
Average = (97 + 50 + 91 + 72 + 80) / 5 = 78.0
```

In TESTCASE 02:

```
Average = (92 + 82 + 94 + 55 + 82) / 5 = 81.0
```

---
`

‚úÖ This code:
- Uses `namedtuple` for easy field access.
- Reads column names dynamically.
- Calculates and prints the average marks rounded to two decimals.

---

In [ ]:
from collections import namedtuple
n, fields = int(input()), input().split()
Student = namedtuple('Student', fields)
print("{:.2f}".format(sum(int(Student(*input().split()).MARKS) for _ in range(n)) / n))

In [1]:
n =  int(input())
columns_name  =  list(input().split())
index = columns_name.index('MARKS')
data=[]
marks=[]
s=0
for i in range(n):
    data.append(list(input().split()))
    marks.append(int(data[i][index]))
    
avg = sum(marks)/len(marks)
print(round(avg,2))

5
ID MARKS NAME CLASS
1 97 Raymond 7
2 50 Steven 4
3 91 Adrian 9
4 72 Stewart 5
5 80 Peter 6
78.0